In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler

from sklearn.metrics import r2_score, mean_squared_error
pd.set_option('display.max_columns', 50)

In [2]:
df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
columns = {'T1': 'kitchen_temp','RH_1': 'kitchen_humidity', 'T2':'living_room_temp', "RH_2": 'living_room_humidity',
           'T3': 'laundry_room_temp', 'RH_3': 'laundry_room_humidity', 'T4': 'office_room_temp', "RH_4": 'office_room_humidity',
           'T5': 'bathroom_temperature', 'RH_5': 'bathroom_humidity', 'T6': 'outside_building_temp_north', 'RH_6' : 'outside_building_humidity_north',
           'T7': 'ironing_room_temp', 'RH_7': 'ironing_room_humidity', "T8": 'teenager_room2_temp', 'RH_8': 'teenager_room2_humidity', 'T9': 'parents_room_temp',
           "RH_9": 'parents_room_humidity', 'To': 'temperature_outside', 'RH_out': 'hum_outside', 'Windspeed': 'windspeed_ms',
           'rv1': 'rand_variable1', 'rv2': 'rand_var2'}

df = df.rename(columns=columns)

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.preprocessing import MinMaxScaler

In [5]:
#Select feature and target vairable
X  = df[['living_room_temp']]
y = df[['outside_building_temp_north']]

In [6]:
# split to training and test set
X_train_l,  X_test_l, y_train_l, y_test_l = train_test_split(X, y, test_size=0.2, random_state=42)

### Question 17
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the Root Mean Squared error in three D.P?

In [7]:
# instantiate the model
linear_model = LinearRegression()

# fit the training data
linear_model.fit(X_train_l, y_train_l)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
y_pred = linear_model.predict(X_test_l)

In [9]:
# root mean squared
rmse = np.sqrt(mean_squared_error(y_pred, y_test_l ))

round(rmse, 3)

3.633

### Question 18
Remove the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a  random state of 42 (for reproducibility). Normalize the dataset using the MinMaxScaler (Hint: Use the MinMaxScaler fit_transform and transform methods on the train and test set respectively). Run a multiple linear regression using the training set. Answer the following questions:

What is the Mean Absolute Error (in three decimal places) for the  training set?

In [10]:
#initialise scaler
scaler = MinMaxScaler()

df1 = df.drop(columns=['date', 'lights'])

normalized_df = pd.DataFrame(scaler.fit_transform(df1), columns=df1.columns)

In [28]:
feature = normalized_df.drop(columns='Appliances')
target = df['Appliances']

In [29]:
X_train, X_test, y_train, y_test = train_test_split(feature, target, test_size=0.3, random_state=42)

In [30]:
# instantiate the model
mr = LinearRegression()

mr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
pred = mr.predict(X_test)

In [32]:
# mean absolute error score
mae = mean_absolute_error(y_test, pred)
round(mae, 3)

53.643

### Question 19
What is the Root Mean Squared Error (in three decimal places) for the training set?

In [33]:
y_train_pred = mr.predict(X_train)

In [34]:
rmse_train = np.sqrt(mean_squared_error(y_train, y_train_pred))
round(rmse_train,3)

95.216

### Question 20
What is the Mean Absolute Error (in three decimal places) for test set?

In [35]:
mae = mean_absolute_error(y_test, pred)

round(mae,3)

53.643

### Question 21
What is the Root Mean Squared Error (in three decimal places) for test set?

In [36]:
rmse_test = np.sqrt(mean_squared_error(y_test, pred))
round(rmse_test, 3)

93.64

### Question 23
Train a ridge regression model with default parameters. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [37]:
from sklearn.linear_model import Ridge


l1 = Ridge(alpha=0.5)

l1.fit(X_train, y_train)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [38]:
l_pred = l1.predict(X_test)

In [39]:
rmse_ridge = np.sqrt(mean_squared_error(y_test, l_pred))
round(rmse_ridge, 3)

93.669

### Question 24
Train a lasso regression model with default value and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [40]:
from sklearn.linear_model import Lasso



lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [41]:
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_model_weights = get_weights_df(mr, X_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(l1, X_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, X_train, 'Lasso_weight')
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [42]:
final_weights

,Features,Linear_Model_Weight,Ridge_Weight,Lasso_weight
0,living_room_humidity,-488.666805,-429.213225,-484.565333
1,T_out,-344.389845,-268.318513,-332.571693
2,living_room_temp,-252.710373,-207.451120,-249.468798
3,parents_room_temp,-203.236627,-201.785215,-202.502545
4,teenager_room2_humidity,-168.627161,-167.557604,-168.695476
5,hum_outside,-83.107599,-54.078910,-78.000385
6,ironing_room_humidity,-47.736592,-49.531276,-47.389094
7,parents_room_humidity,-42.586339,-44.619660,-42.455100
8,bathroom_temperature,-16.752822,-22.177780,-17.118723
9,kitchen_temp,-3.510725,-23.056984,-4.147124
10,rand_variable1,0.824005,0.795525,1.631174
11,rand_var2,0.824005,0.795525,0.000000
12,Press_mm_hg,7.318079,6.972461,7.282154
13,ironing_room_temp,11.041091,10.722786,10.346809
14,Visibility,13.168072,12.873795,13.078319
15,bathroom_humidity,17.126194,17.307951,17.103321
16,office_room_humidity,28.232781,25.859902,27.445905
17,office_room_temp,31.009668,28.896127,30.345197
18,windspeed_ms,31.225948,32.595698,31.389514
19,outside_building_humidity_north,40.712058,37.474698,40.092883
20,laundry_room_humidity,102.771652,101.624310,102.204611
21,teenager_room2_temp,109.134698,107.806602,108.883423
22,Tdewpoint,126.000776,82.034784,118.598030
23,outside_building_temp_north,252.974652,228.247841,250.080979
24,laundry_room_temp,310.971037,307.526379,310.210384
25,kitchen_humidity,592.294862,547.767252,590.599827

In [ ]:
lasso_pred = lasso_reg.predict(X_test)

rmse_lasso = np.sqrt(mean_squared_error(y_test, lasso_pred))
round(rmse_lasso, 3)

In [ ]:
X_train